

<div class="container mb-5">


<table>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mb-3">Demandes en attente</h2>
  
        <div class="card">
          <div class="table-responsive pt-3">
            <table class="table table-striped project-orders-table w-50">
              <thead>
                <tr>
                
                  <th>Nom et prénom</th>
                  <th>Email</th>
          
                   <th>Nom de la formation</th>
                
                   <th>Date inscription</th>
                 
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of inscris | paginate: { itemsPerPage: 10, currentPage: page }">
                  <td>{{ item.utilisateur[0].name }} {{ item.utilisateur[0].lastname }}</td>
                  <td>{{  item.utilisateur[0].email }}</td>
             
                    <td>{{ item.formation[0].nom}}</td>
                  <td>{{item.data_inscription}}</td>
                 
                  <td>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-success btn-sm btn-icon-text mr-3"  (click)="inscrire(item)"
                      
                      >
                      Accepter inscription
                      
                      </button>
                    
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  </div>
  