<div class="container">
  <div
    class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
    style="width: 380px"
  >
    <div
      class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom"
    >
      <input type="text" [(ngModel)]="username" />
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <div
        href="#"
        class="list-group-item list-group-item-action py-3 lh-tight"
        *ngFor="let msg of messages"
      >
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{ msg.username }}</strong>
          <div>{{ msg.message }}</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <input
      type="text"
      style="width: 380px"
      placeholder="write a message"
      class="form-control"
      [(ngModel)]="message"
    />
  </div>
  <button (click)="envoi()">envoyer</button>
</div>
