<app-header3></app-header3>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-5 m-auto mt-5">
      <div class="card px-3 py-3 mt-5">
        <h3 class="text-center">Login here</h3>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
            [(ngModel)]="user.email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Password</label
          >
          <input
            class="form-control"
            id="exampleFormControlTextarea1"
            placeholder="your password"
            [(ngModel)]="user.password"
          />
        </div>

        <button class="btn  w-100 mb-3" (click)="login()">
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>
