
<div class="container principale">


    <div class="row">

        <div class="col-6">
            <div class="IMAGE">
 <img src="assets/images/contact.avif">
</div>       
</div>
        <div class="col-6">
            <H2 class="mt-2 mb-4">CONTACT US</H2>
                <div class="mb-3">
                  <label  class="form-label">Sujet</label>
                  <input type="email" class="form-control" [(ngModel)]="message.subject" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label class="form-label">Message</label>
                  <textarea type="password" class="form-control" [(ngModel)]="message.message" ></textarea>
                </div>
              
                <button type="submit" class="btn px-3" (click)="ajouter()">Envoyer</button>
            
        </div>
    </div>

</div>
