

<div class="container principale">
    <div class="row mb-3">
        <div class="col-8">
    <p><B>Nom  :</B> {{recu.expediteur[0].name}}</p>
    <p><B>Prénom</B>  {{recu.expediteur[0].lastname}}</p> 
    <p><B>Sujet :</B>  {{recu.subject}}</p>
   <p><B>Message :</B>  {{recu.message}}</p>
    <p><B>Date d'envoi :</B>  {{recu.date}}</p>
   
    <button class="btn btn-danger px-3 " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">  Répondre  </button> 
    
    </div>
    
    
    
 
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Répondre au message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label" >Rediger le message:</label>
                  <textarea type="text" class="form-control" id="recipient-name" name="nom" [(ngModel)]="object.message"></textarea>
                </div>
               
           
               
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="repondre()">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
